{
  "presets": [
    ["env", {
      "modules": false,
      "targets": {
        "browsers": ["last 2 Chrome versions"]
      }
    }]
  ],
  "plugins": [
    ["transform-object-rest-spread", { "useBuiltIns": true }]
  ],
  "env": {
    "test": {
      "presets": [
        ["env", {
          "targets": {
            "node": "current"
          }
        }],
      ]
    }
  }
}
